[data-ff-wrapper] {
	position: relative;
	overflow: hidden;
}

[data-ff-wrapper] > * {
	display: block;
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
}

[data-ff-wrapper] > [data-ff-poster] {
	visibility: visible;
}

[data-ff-wrapper] > [data-ff-active] {
	visibility: visible;
}

[data-ff-wrapper] > [data-ff-hidden] {
	visibility: hidden;
}
